@import "../../styles/Colors.scss";
@import "../../styles/Variables.scss";

.primary {
  &:hover {
    background-color: $white;
    border: 2px solid $green;
    color: $green;
  }
}

.secondary {
  background-color: $red;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $nano $small;
  border: none;
  margin: $x1 0;
  cursor: pointer;
  font-size: 18px;
  color: $white;
  border: 2px solid $white;
  &:hover {
    background-color: $white;
    border: 2px solid $green;
    color: $green;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @media (max-width: $tablet) {
    height: 40px;
    font-size: 14px;
  }
}
